body {
  color: white;
  margin: 0;
  background-color: #303641;
  background-image: linear-gradient(to bottom right, #303641, #1f2229);
  background-repeat: none;
  background-attachment: fixed;
  font-family: "Gill Sans MT";
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
body button, body input {
  font-family: inherit;
  font-size: 90%;
  cursor: pointer;
}
body h1, body h2, body h4 {
  font-weight: normal;
}
body #kc-header {
  padding: 50px 30%;
  background-image: url("Background.jpg");
  background-size: cover;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
body #kc-header #kc-header-wrapper {
  font-size: 200%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #1d2026;
  background-image: linear-gradient(#1d2026, #12151a);
  border-radius: 12px;
  padding: 20px 1%;
}
body #kc-form-login, body #kc-register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
body #kc-form-login div, body #kc-register-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input#kc-login, input#kc-register, #kc-info a, #kc-form-buttons > input {
  padding: 12px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #923b2f;
  background-image: linear-gradient(#923b2f, #7b2e24);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.4s;
  letter-spacing: 1px;
  font-size: 100%;
}
input#kc-login:hover, input#kc-register:hover, #kc-info a:hover, #kc-form-buttons > input:hover {
  background-color: white;
  background-image: none;
  color: #923b2f;
}

hr {
  display: none;
}

input#username, input#password, input#firstName, input#lastName, input#email, input#password-confirm {
  background-color: #303641;
  font-family: inherit;
  color: white;
  padding: 6px 10px;
  font-size: 110%;
  border-radius: 5px;
  border: 2px solid #12151a;
  outline: none;
  transition: 0.3s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: text;
}
input#username:focus, input#password:focus, input#firstName:focus, input#lastName:focus, input#email:focus, input#password-confirm:focus {
  border: 2px solid #923b2f;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #923b2f;
}

#kc-social-providers {
  padding: 20px;
}
#kc-social-providers ul {
  font-size: 150%;
  padding-inline: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#kc-info {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
#kc-info a {
  margin-left: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #12151a;
}

::-webkit-scrollbar-thumb {
  background-color: #1d2026;
  border-radius: 5px;
}

#kc-register-form > div:last-child {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  padding: 10px;
}

[id^=input-error] {
  font-size: 70%;
  margin-top: -5px;
  margin-bottom: 5px;
}

.checkbox > label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox > label #rememberMe {
  border: none;
  height: 16px;
  width: 16px;
  accent-color: #923b2f;
  transition: 0.4s;
  box-shadow: none;
}
.checkbox > label #rememberMe:checked {
  background-color: red;
  color: green;
}/*# sourceMappingURL=login copy.css.map */